---
---

.download {
  cursor: pointer;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin-bottom: 2em;
  
  &:hover .arrow {
    animation: bounce 1s both ease-out 1;
  }
}

@keyframes bounce {
  0% { transform: translateY(0) }
  25% { transform: translateY(-3px) }
  50% { transform: translateY(0) }
  75% { transform: translateY(-3px) }
  100% { transform: translateY(0) }
}